<!DOCTYPE html>

<!-- this page has his own boiler plate -->
<html>
<head>
	<link rel="stylesheet" type="text/css" href="public/css/style.css">
	<title>Blog</title>
</head>
<body class="fake-body">

<!-- Sign in form -->
	<div class="log">
		<form class="signin-form" method="POST" action="/sign-in">
			<label for="username">User Name:</label>
			<br>
			<input type="text" name="[login]username">
			<br>
			<label for="password">Password:</label>
			<br>
			<input type="password" name="[login]password">
			<br>
			<input type="submit">
		</form>
	</div>

</body>
</html>