<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>Blog</title>
</head>
<body>
<nav>
	<a class="menu" href="">New feeds</a>
	<a class="menu" href="">Profil</a>
	<a class="menu" href=""> Account</a>
	<a class="logout">Log out</a>
</nav>	

<%= yield %>
</body>
</html>