<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script src="js/script.js"></script>
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>Blog</title>
</head>
<body>
<nav>
	<a class="menu" href="">New feeds</a>
	<a class="menu" href="">Profil</a>
	<a class="menu" href=""> Account</a>
	<a class="logout">Log out</a>
</nav>	

<%= yield %>
</body>
</html>