<h1 class="profile-name">keyan bagheri</h1>

<div class="pic">
	<img class="profile-pic" src="images/pic.png">
	<br>
	<button >upload picture</button>
</div>

<div class="profile-container">
	<!-- display the fname and lname-->

	<!-- put fname -->
	<h2 class="show">First name: Keyan </h2> 
	<h2 class="hide">First name: <input type="text" name="[update]fname"></h2>
	<!-- put lname -->
	<h2 class="show">Last name:  Bagheri</h2>
	<h2 class="hide">Last name: <input type="text" name="[update]lname"></h2>

	<h2 class="show">Password:  *******</h2>
	<h2 class="hide">Password: <input type="text" name="[update]password"></h2>
	<!-- put email -->
	<h2 class="show">E-mail:  keyan@aol.com</h2>
	<h2 class="hide">E-mail: <input type="text" name="[update]email"></h2>
	<button id="update" class="show">Update</button>
	<button id="save" class="hide">Save</button>
	
</div>