.fake-body{
	background-color: black;
}

.log{
	background-color: white;
	margin:0 auto;
	width: 400px;
	line-height: 100px;
}

.signin-form{
	text-align: center;
	font-size: 25px;

}

.signin-form{
	text-align: center;
	font-size: 25px;

}

.sign{
	background-color: white;
	margin:0 auto;
	width: 500px;
	line-height: 100px;
}

nav{
	background: black;
}

a{
	color: white;
	text-decoration: none;
	margin: 10px;
	font-size: 25px;
}

.logout{
	margin-left: 800px;
}

a:hover { 
    background-color: blue;
}
