
.fake-body{
	background-color: black;
}
.log{
	background-color: white;
	margin:0 auto;
	width: 400px;
	line-height: 100px;
}

.signin-form{
	text-align: center;
	font-size: 25px;

}

.signin-form{
	text-align: center;
	font-size: 25px;

}

.sign{
	background-color: white;
	margin:0 auto;
	width: 500px;
	line-height: 100px;
}

nav{
	background: black;
}

.menu{
	color: white;
	text-decoration: none;
	margin: 10px;
	font-size: 25px;
}

.logout{
	margin-left: 800px;
	color: white;
	text-decoration: none;
	font-size: 25px;

}

a:hover { 
    background-color: blue;
}

#feed-container {
	background: yellow;
	width: 60%,
	height: 60vh;
	margin: 5% 20%;
	padding: 0 0 500px 0;
	border: solid black 2px;
	border-radius: 25px;
}

#microchirp-h1 {
	text-align: center;
	margin-left: 0 auto;
}

#target-posts {
	width: 90%;
	margin: 0 auto;
	font-size: 18px;
	font-weight: bold;
}

img {
	max-height: 20%;
	max-width: 20%;
	float: left;
}

.profile-pic{
	height: 400px;
	width: 400px;
}
.profile-name{
	text-align: center;
}

.pic{
	float: left;
	margin-right: 50px;
}
.profile-container{
	font-size: 30px;

}
